@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    width: 100vw;
    height: 100vh;
}

body {
    background: url("../imagens/fundo-madeira.jpg") no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;

    transform: translate(-50%, -50%);
    background: url("../imagens/frame-iphone.png") no-repeat;
    width: 311px;
    height: 627px;
}

iframe#tela {
    position: relative;
    top: 12%;
    left: 7.2%;
    width: 267px;
    height: 478px;
}

section#redes-sociais {
    text-align: right;
    padding-top: 250px;
}

section#redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.849);
    box-sizing: border-box;
}

section#redes-sociais img:hover {
    box-shadow: 5px 5px 10px black;
    border: 2px solid rgba(199, 150, 85, 0.781);
    transform: translate(-7%, -7%);
    transition: transform 0.2s, border 0.1s;
}
